@{
    ViewData["Title"] = "Privacy Policy";
}
<div>

<h1>@ViewData["Title"]</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eget lorem dolor sed viverra ipsum nunc aliquet bibendum. Fermentum iaculis eu non diam phasellus vestibulum lorem sed risus. Nisl nisi scelerisque eu ultrices vitae auctor eu augue ut. Risus nullam eget felis eget nunc lobortis mattis. Quam id leo in vitae turpis massa sed elementum. Donec ultrices tincidunt arcu non sodales neque. Ante in nibh mauris cursus mattis molestie a. Nam libero justo laoreet sit amet cursus. Nulla aliquet porttitor lacus luctus.

    Phasellus vestibulum lorem sed risus ultricies tristique nulla aliquet enim. In massa tempor nec feugiat nisl pretium fusce. Convallis tellus id interdum velit laoreet id. Nulla facilisi nullam vehicula ipsum a. Pharetra convallis posuere morbi leo urna molestie at elementum eu. Pretium quam vulputate dignissim suspendisse in est ante. Velit laoreet id donec ultrices tincidunt arcu. Non nisi est sit amet facilisis magna etiam. Eros donec ac odio tempor orci dapibus. Id porta nibh venenatis cras sed. Accumsan sit amet nulla facilisi.
</p>

</div>