html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: linear-gradient(rgb(255, 235, 153, 0), rgb(255, 235, 153, 1));
}

.green {
   color: green;
}

.red {
    color: red;
}

.input-validation-error {
    border-color: red;
    background-color: #ffdddd;
   
}

.remove-underline {
    text-decoration: none;
}

.pointer {
    cursor: pointer;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.05);
}

.table-overflow {
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bell-img {
    width: 20px;
    height: auto;
}
